// Variables SCSS
// Couleurs

// Light mode
$app-background-color-light: #FBFDFF;
$subtle-background-color-light: #F4FAFF;
$ui-element-background-color-light: #E6F4FE;
$hovered-ui-element-background-color-light: #D5EFFF;
$active-selected-ui-element-background-color-light: #C2E5FF;
$subtle-borders-and-separators-color-light: #ACD8FC;
$ui-element-border-and-focus-rings-color-light: #8EC8F6;
$hovered-ui-element-border-color-light: #5EB1EF;
$solid-backgrounds-color-light: #0090FF;
$hovered-solid-backgrounds-color-light: #0588F0;
$low-contrast-text-color-light: #0D74CE;
$high-contrast-text-color-light: #113264;

// Dark mode
$app-background-color-dark: #0D1520;
$subtle-background-color-dark: #111927;
$ui-element-background-color-dark: #0D2847;
$hovered-ui-element-background-color-dark: #003362;
$active-selected-ui-element-background-color-dark: #004074;
$subtle-borders-and-separators-color-dark: #104D87;
$ui-element-border-and-focus-rings-color-dark: #205D9E;
$hovered-ui-element-border-color-dark: #2870BD;
$solid-backgrounds-color-dark: #0090FF;
$hovered-solid-backgrounds-color-dark: #3B9EFF;
$low-contrast-text-color-dark: #70B8FF;
$high-contrast-text-color-dark: #C2E6FF;